* {
  margin: 0;
}
#parent {
  display: flex;
}
nav ul {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  display: flex;

  padding: 10px;
  list-style: none;
}

body {
  line-height: 1.4;
  font-family: sans-serif;
}
.converse-article {
  border: 4px solid black;
  padding: 10px;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
}

.price {
  font-size: 24px;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}

/* LVHA order  */
.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.details-title {
  text-transform: uppercase;
  font-size: 16px;
}

.details-list {
  list-style: square;
}

.add-cart {
  background-color: black;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
.add-cart:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}
