* {
  font-display: inherit;
  /* color: bisque; */
  margin: 0;
  padding: 10;
}

body {
  color: #444;
  font-family: sans-serif;
  color: grey;
  margin: 0;
}
.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
}

.post-pic {
  height: auto;
  width: 100%;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: none;
  font-style: none;
  /* color: rgb(4, 164, 164); */
}

h2 {
  font-size: 40px;
  text-transform: none;
  font-style: none;
  /* color: rgb(17, 109, 188); */
}

h3 {
  font-size: 30px;
  /* color: black; */
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  /* color: blueviolet; */
}

p {
  font-size: 20px;
  line-height: 1.5;
  color: rgb(82, 50, 100);
}

li {
  /* color: rgb(0, 124, 190); */
  font-size: 20px;
}

/* footer p {
  font-size: 14px;
} */

/* header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 22px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related-course {
  list-style: none;
  color: rgb(69, 69, 69);
}

header {
  background-color: azure;
}

aside {
  background-color: azure;
  border-top: 5px dotted rgb(201, 171, 230);
  border-bottom: 5px dotted rgb(201, 171, 230);
}

.related-css {
  /* border: 3px rgb(126, 213, 213); */
  /* padding: 10px; */
}

/* .first-li {
  font-weight: bold;
  color: red;
} */

li:first-child {
  font-weight: bold;
  /* color: rgb(2, 95, 64); */
}
li:last-child {
  font-style: italic;
  /* color: rgb(115, 70, 3); */
}

li:nth-child(odd) {
  /* color: rgb(112, 8, 100); */
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orange;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* #copyright {
  color: blue;
}

.text {
  color: green;
}

.copyright {
  color: red;
}

footer p {
  color: yellow;
} */

nav {
  font-size: 18px;
}
